name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/octavia
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2023.2
        with:
          repository: openstack/ovn-octavia-provider
          ref: 2023.2-eol

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@2023.2
        with:
          image-name: octavia
          build-contexts: |
            octavia=openstack/octavia
            ovn-octavia-provider=openstack/ovn-octavia-provider
          push: ${{ github.event_name != 'pull_request' }}
